.section-1 {
    position: relative;
    padding-top: 75px;
    background-color: #1F2937;
    height: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;   
}

.section-1 h1 { 
    font-size: 49px;
}

.section-1 p {
    font-size: 18px;
}

.section-1 button {
    background-color: #3882f6; 
    border-radius: 5px;
    height: 25px; 
    width: 100px;
    color: #f9faf8
}


.section-1 div {
    border: 1px solid white; 
    height: 400px;
    width: 650px;

}

.s1-left {
    color: #f9faf8;
    display: flex;
    flex-direction: column; 
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    
}

.section-1 div img {
    height: 50px; 
    width: 100px;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    display: inline-block;
}
