#section-1 {
    position: relative;
    padding-top: 75px;
    width: 100%;
    border: 1px solid #2d2d2d;
    display: flex;
    justify-content: center;
    
}

.s1-left {
    display: inline-block;
    height: 250px;
}

.s1-right {
    display: inline-block;
    height: 250px;
}

